*.cxx
*.so
*.pyc
*.zip
*.log
*.pyo
build/
cpp_tests/build/
cpp_tests/gtest/
**/*.txt
**/*.config
**/*.xyzd
**/*.a
**/CMakeFiles
**/googletest
cpp_tests/source/Makefile
**/cmake_install.cmake
**/test_main
**/BROWSE
**/histogram
**/exchanges
**/file
**/outn
**/*.dat
cythonize.dat
.cproject
.project
.pydevproject
basinvolume/version.py
CMakeLists.txt
