*.cxx
*.so
*.pyc
*.zip
*.log
*.pyo
build/
cpp_tests/build/
cpp_tests/gtest/
**/*.txt
**/*.config
**/*.xyzd
**/*.a
**/CMakeFiles
**/googletest
cpp_tests/source/Makefile
**/cmake_install.cmake
**/test_main
**/BROWSE
**/histogram
**/exchanges
**/file
**/outn
**/*.dat
cythonize.dat
.cproject
.project
.pydevproject
basinvolume/version.py
CMakeLists.txt
.cache
**/compile_commands.json
**/explore_bv*
paper_analysis
basinvolume/mbar_spheres/scratch.ipynb
basinvolume/cluster_manager/greene_scripts/multi_volume_runs/local_config.toml
scratch.ipynb
analysis_notebooks/cubic_basin_dos.ipynb
analysis_notebooks/data_plots.ipynb
*.egg-info/
.idea/
