*.cxx
*.so
*.pyc
*.zip
*.log
build/
cpp_tests/build/
cpp_tests/gtest/
cythonize.dat
.cproject
.project
.pydevproject
basinvolume/version.py
*hist*.txt
*hist*.pdf
**/.cache
**/*.config
**/*.txt
BROWSE
histogram
**/hypercube
**/packings
**/CMakeFiles
**/Makefile
**/*.a
**/compile_commands.json
**/paper_analysis
**/cmake_install.cmake
**/test_main
**/*.dat
**/exchanges
**/settings.json
**/file
**/outn
